*{
    
    margin: 0;
    padding: 0;
}
.tituloUno{
    text-align: center;
    font-size: 32px;
    color: rgb(245, 238, 238);

}
img, svg {
    width: 150px;
    vertical-align: middle;
}
.colorNav{
    color: rgb(43, 43, 69);
    background-color: rgb(25, 25, 61);
}
.imagenesCards{
    margin: 20px;
}
body{
    color: #f7f8f9;
    background-color: rgb(8, 8, 9);
}
h2 {
    background-color: #80808e;
    margin: 20px;
    text-align: center;
}
.colorBoton{
    color: black;
    background-color: rgb(156, 159, 162);
    border-color: rgb(241, 249, 0);
}
.tituloFooter{
    text-align: center;
}
h1{
    text-align: center;
}