*{
    
    margin: 0;
    padding: 0;
}
.tituloUno{
    text-align: center;
    font-size: 32px;
    color: rgb(245, 238, 238);

}
img, svg {
    width: 150px;
    vertical-align: middle;
}
.colorNav{
    color: rgb(43, 43, 69);
    background-color: rgb(25, 25, 61);
}
.imagenesCards{
    margin: 20px;
}
body{
    color: #f7f8f9;
    background-color: rgb(8, 8, 9);
}
.text-bg-info{
    color: black;
    background-color: rgb(25, 25, 61);
}
